body,
ul,
li,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px auto;
  align-items: center;
}
.logo {
  font-size: 34px;
  font-weight: 700;
  border: solid 2px #000;
  padding: 11px 28px;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 700;
}

.menu li {
  list-style: none;
  margin-left: 20px;
}

#main {
  height: 400px;
  overflow: hidden;
}
#main img {
  object-fit: cover;
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin: 50px auto;
}
#about {
  text-align: center;
}
.about_inner {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.about_inner img {
  border-radius: 50%;
  width: 141px;
  height: 141px;
  margin-right: 33px;
}
.name {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.text li {
  text-align: left;
  font-size: 18px;
}
.text ul {
  margin-left: 32px;
}
#works {
  text-align: center;
}
.works_inner {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
.works {
  flex-basis: 31%;
  padding-right: 20px;
  padding-left: 20px;
}
.works p {
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Noto Sans JP, sans-serif";
}

@media (max-width: 767px) {
  .works_inner {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    display: contents;
  }
}
